/**
 * 这里定义项目的所有颜色相关变量
 * by: Cphayim
 */

// 前景色 
$frontColor: #54b4ef;
// 背景色
$backColor: #eaeaea;
// 强调色
$emColor: #f35833;
// 边框颜色
$borderColor: #e2e2e2;
// 一级文字颜色
$firstFontColor: #333;
// 二级文字颜色
$secondFontColor: #666;
// 三级文字颜色
$thirdFontColor: #999;
